@import 'normalize.css';

html {
    background-color: rgb(161, 217, 236);
}
img {
    width: 400px;
    height: 420px;
    position: absolute;
    margin-left: -55px;
}
body {
    width: 500px;
    height: 300px;
    padding: 10rem; /* Căn giữa theo chiều ngang */
}
