.wrapper {
    width: 400px;
    height: 420px;

    margin-left: 1rem;
    background-color: rgb(255, 255, 255);
    margin-left: 150px;
    position: absolute;
}
.image {
    width: 400px;
    height: 420px;
}
