.wrapper {
    display: flex;
    max-width: var(--max-width);
    height: var(--max-height);
    font-family: var(--font-family);
}

.header {
    width: 100px;
    background-color: blue;
    // padding: 20px;
}

.container {
    width: 346px;
    background-color: white;
    border-right: 1px solid rgb(155, 154, 154);
}
