:root {
    --max-width-home: 1126px;
    --min-width-home: 790px;
    --width-info: 335px;
    --max-height-home: 700px;
    --background-color-button: rgb(194, 194, 194);

    --info-display: var(--info-display-value);
}
.body {
    display: flex;
    flex-direction: row;
}
.container {
    width: var(--min-width-home);
    border-right: 1px solid rgb(230, 230, 230);
}
.header {
    width: var(--min-width-home);
    height: 64px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: auto;

    .header-left {
        display: flex;
        flex-direction: row;
        width: 600px;
    }
    .img-header {
        width: 50px;
        height: 50px;
        margin: 10px 10px;
        object-fit: cover;
        border-radius: 50%;
        cursor: pointer;
    }

    .content-header {
        display: flex;
        flex-direction: column;
        justify-content: center;

        .content-top-h2 {
            font-size: 20px;
            font-weight: bold;
        }
        .content-bottom {
            display: flex;
            flex-direction: row;

            .nav1 {
                display: flex;
                flex-direction: row;
                justify-content: center;
                margin-right: 30px;
                cursor: pointer;
                transition: color 0.3s;

                &:hover {
                    .icon,
                    .content-bottom-h3 {
                        color: rgb(60, 183, 240);
                    }
                }

                .icon {
                    margin-right: 5px;
                    transition: color 0.3s;
                }
                .content-bottom-h3 {
                    font-size: 14px;
                    font-weight: 500;
                    transition: color 0.3s;
                }
            }
            .divider {
                height: 12px;
                position: relative;
                margin-left: -20px;
                margin-top: 2px;
            }

            .divider::before {
                content: '';
                position: absolute;
                left: 50%;
                top: 0;
                bottom: 0;
                width: 0.5px;
                background-color: #777474;
                transform: translateX(-50%);
            }

            .nav2 {
                margin-left: 20px;
                margin-top: -3px;
            }
        }
    }
    .header-right {
        display: flex;
        align-items: center;
        margin-right: 20px;

        .icon3 {
            margin: 2px;
            border: none;
            background-color: transparent;
            color: rgb(75, 72, 72);
            padding: 5px;
        }
        .icon3:hover {
            background-color: var(--background-color-button);
        }
    }
}
.content {
    height: 570px;
    border-top: 1px solid rgb(230, 230, 230);
    border-bottom: 1px solid rgb(230, 230, 230);
    background-color: rgb(230, 230, 230);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 20px;

    .avatar {
        width: 100px;
        height: 100px;
    }
}

.footer {
    height: 100px;
    background-color: white;
    margin: auto;

    .footer-icon {
        height: 40px;
        display: flex;
        align-items: center;
        background-color: white;
        margin: auto;

        .button {
            border: none;
            font-size: 22px;
            background-color: white;
            margin: 10px 6px 10px 6px;
            color: rgb(75, 72, 72);
        }

        .button:hover {
            background-color: var(--background-color-button);
        }
    }

    .footer-chat {
        display: flex;
        flex-direction: row;
        height: 60px;
        border-top: 1px solid rgb(230, 230, 230);
        margin: auto;

        .input {
            width: 100%;
            height: 60px;
            border: none;
            padding: 17px;
            font-family: var(--font-family);
            font-size: 17px;
            font-weight: 300;
        }

        .input:focus + .footer-chat {
            border-top: 1px solid rgb(34, 122, 238);
        }
        .input:focus {
            border-top: 1px solid rgb(34, 122, 238);
            outline: none;
            border: none;
        }
    }
}

.footer-chat-icon {
    display: flex;
    flex-direction: row;
    align-items: center;

    button {
        height: 40px;
        width: 40px;
        padding: 2px 5px 2px 5px;
        margin: 2px;
        font-size: 17px;
        border: none;
        background-color: transparent;
    }
    button:hover {
        background-color: var(--background-color-button);
    }
    .btn-send {
        margin-right: 20px;
        color: blue;
        font-weight: bold;
    }
    .btn-send:hover {
        background-color: rgb(222, 235, 255);
    }
}
.tippy {
    font-size: 11px;
    width: max-content;
    position: absolute;
    padding: 3px;
    margin-top: -15px;
    margin-right: -50px;
    border: 1px solid black;
    background-color: white;
}

.info {
    width: var(--width-info);
    background-color: rgb(222, 219, 219);
    height: 734px;

    .header {
        display: flex;
        justify-content: center;
        padding: 19px 0px 15px 0px;
        margin-top: 1px;
        width: 100%;
        height: 64px;
        border-bottom: 1px solid rgb(230, 230, 230);
        background-color: white;

        .h2-header {
            font-size: 18px;
            font-weight: bold;
        }
    }
    .control {
        overflow-y: scroll;
        max-height: 670px;
        flex: 1;
    }

    .nav {
        height: 230px;
        display: flex;
        flex-direction: column;
        background-color: white;

        .nav-top {
            justify-content: center;
            padding-top: 15px;
            padding-bottom: 5px;
            .img {
                display: flex;
                justify-content: center;
            }
            .img-nav {
                width: 55px;
                height: 55px;
                margin: 10px 10px;
                object-fit: cover;
                border-radius: 50%;
                cursor: pointer;
            }
            .nav-top-footer {
                display: flex;
                flex-direction: row;
                justify-content: center;

                .h2-nav {
                    font-size: 18px;
                    font-weight: bold;
                }

                .nav-top-button {
                    width: 23px;
                    height: 23px;
                    font-size: 13px;
                    border: none;
                    margin-top: -1px;
                    margin-left: 10px;
                    border-radius: 50%;
                    background-color: rgb(194, 194, 194);
                }
            }
        }

        .nav-footer {
            display: flex;
            height: 70px;
            margin-left: 30px;
            margin-top: 10px;

            .nav-footer-nav {
                width: 60px;
                height: 60px;
                margin-right: 15px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
            button {
                width: 29px;
                height: 29px;
                font-size: 15px;
                text-align: center;
                border: none;
                margin-top: -1px;
                border-radius: 50%;
                background-color: rgb(194, 194, 194);
            }

            button:hover {
                background-color: var(--background-color-button);
            }

            h4 {
                font-size: 12px;
                color: #727070;
                font-weight: 500;
                margin-top: 5px;
                text-align: center;
            }
        }
    }

    .title {
        display: flex;
        flex-direction: column;
        height: 160px;
        margin-top: 10px;
        background-color: white;

        .title-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border: none;
            padding: 8px;
            background-color: white;

            h2 {
                font-size: 17px;
                font-weight: 600;
            }
            .title-center-icon {
                color: rgb(111, 110, 110);
            }
        }
        .title-center {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 11px;
            border: none;
            font-size: 17px;
            background-color: white;
            transition: background-color 0.2s ease;

            h2 {
                font-size: 14px;
                font-weight: 500;
                margin-left: 10px;
                margin-top: 2px;
            }
        }
        .title-center:hover {
            background-color: rgb(210, 206, 206);
        }

        .title-bottom {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 8px;
            border: none;
            font-size: 17px;
            transition: background-color 0.2s ease;
            background-color: white;

            h2 {
                width: 130px;
                font-size: 14px;
                font-weight: 500;
                margin-left: 10px;
                margin-top: 2px;
            }
            p {
                font-size: 13px;
                font-weight: 548;
                color: rgb(9, 127, 230);
            }

            button {
                width: 29px;
                height: 29;
                font-size: 13px;
                border: none;
                margin-top: -1px;
                margin-left: 10px;
                border-radius: 50%;
                background-color: rgb(194, 194, 194);
            }
        }
        .title-bottom:hover {
            background-color: rgb(210, 206, 206);
        }

        .title-icon {
            margin-top: -4px;
            margin-left: 80px;

            button {
                font-size: 17px;
                margin-left: 4px;
            }
            button:hover {
                background-color: rgb(184, 182, 182);
            }
        }

        .title-image {
            height: 150px;
            align-items: center;
            margin-left: 5px;

            .img {
                margin: 3px;
                width: 73px;
                height: 73px;
                border-radius: 5px;
                border: 1px solid rgb(179, 179, 175);
            }
        }
        .title-button {
            border: none;
            background-color: rgb(194, 194, 194);
            margin: 16px 10px 16px 10px;
            border-radius: 2px;

            h2 {
                text-align: center;
                margin: 5px;
                font-size: 16px;
                font-weight: 600;
            }
        }

        .title-file {
            transition: background-color 0.2s ease;

            .title-button {
                display: flex;
                // align-items: center;
                margin: -2px -0px 0px 6px;
                flex-direction: row;
                background-color: transparent;
            }
            .img-title4 {
                width: 37px;
                height: 37px;
                object-fit: cover;
                cursor: pointer;
            }

            h2 {
                text-align: center;
                font-size: 14px;
                font-weight: 550;
            }
            p {
                margin: 5px;
                font-size: 12px;
                font-weight: bold;
                color: #727070;
            }
        }
        .title-file:hover {
            background-color: rgb(210, 206, 206);
        }
    }
}
