.wrapper {
    width: 100%;
    display: flex;
    border-radius: 15px;
    margin: 15px;
}

.search {
    width: 350px;
    display: flex;
    align-items: center;

    input {
        padding: 3px 50px;
        border-radius: 5px;
        border: 1px solid rgb(208, 208, 208);
        background-color: #e7e7ed;

        &:focus {
            border-color: #509bf7;
            outline: none;
        }
    }

    .icon-search {
        position: absolute;
        align-items: center;
        border: 1px solid transparent;
        background-color: transparent;
        color: #666;
        cursor: pointer;
    }
    .icon-clear {
        margin: -30px;
        align-items: center;
        border: 1px solid transparent;
        background-color: transparent;
        color: #5c5c5c;
        cursor: pointer;
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.list-icon {
    margin: 5px;

    .icon {
        padding: 4px;
        border: 1px solid transparent;
        background-color: transparent;

        &:hover {
            border-radius: 5px;
            background-color: #e7e7ed;
            transition: background-color 0.3s ease;
        }
    }

    .icon + .icon {
        margin-left: 10px;
    }
}

.filter {
    width: 300px;
}

.filter select {
    width: 100%; /* Đặt chiều rộng bằng 100% của phần tử cha */
    padding: 5px; /* Đặt padding */
    padding-left: 30px;
    font-size: 16px; /* Đặt kích thước chữ */
    border: 1px solid #ccc; /* Đặt border */
    border-radius: 5px; /* Bo tròn góc */
    background-color: #fff; /* Đặt màu nền */

    outline: none; /* Loại bỏ viền xung quanh khi focus */
}

.filter select:focus {
    border-color: #007bff;
}

.icon-filter {
    position: absolute;
    margin-left: 10px;
    margin-top: 8px;
    color: #5c5c5c;
}
