.wrapper {
    background-color: #ffffff;
    margin-left: 45rem;
    padding-right: 7rem;
    padding-top: 2rem;
}
.button {
    text-decoration: none;
    color: #f9f9f9;
}
.link {
    text-decoration: none;
}
